.card__container {
  margin: 100px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.266);
  width: 320px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.card__container h1,
.card__container h3 {
  margin: 0;
}

.weather__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.weather__info .temp__cloud {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.weather__info .temp__cloud p {
  margin: 0;
}

.weather__info .temp__cloud .change__button {
  border: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 5px;
  color: white;
  transition: background-color, transform 500ms ease-in-out;
}

.weather__info .temp__cloud .change__button:hover {
  background-color: rgba(0, 0, 0, 0.612);
  transform: scale(1.1);
}

.temp__info {
  grid-row: 1 / -1;
  padding: 0 5px;
}

.temp__info .temp__desc {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.temp__info .weather__spc {
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 0 10px;
}

.temp__info .weather__spc p {
  margin: 10px 0;
  font-size: 0.6rem;
}
